* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.btn {
    background-color: #C7962E;
    color: white;
    border: white;
}

.btn:hover {
    background-color: white;
    color: #C7962E;
    border: solid 2px #C7962E;
}

/** arrow down **/
.center-con {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.round {
    position: relative;
    border: 3px solid white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    bottom: -25vh;
}

.round span {
    z-index: 999;
    height: 3px;
    margin: 1px;
    width: 30px;
    background: white;
    transition: 0.4s ease;
}

.round span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

.round span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

.round span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

.round span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}

/** end arrow down **/
.navbar {
    position: fixed;
    width: 100vw;
}

.navbar,
.navbar a {
    background-color: #C7962E;
}

.banner {
    margin-top: 8vh;
    height: 92vh;
    width: 100vw;
    background-image: url('../img/miel.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

header,
.samples {
    background-color: beige;
}

.section-container {
    display: flex;
    justify-content: space-around;
}

.presentation {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.production {
    height: 100vh;
    background: rgb(199, 150, 46);
    background: linear-gradient(90deg, rgba(199, 150, 46, 1) 0%, rgba(245, 245, 220, 1) 55%);
}

h2 {
    padding: 5vh 0;
    text-transform: capitalize;
}

.production img {
    width: 25vw;
}

.production .production-container {
    width: 50vw;
}

.production-container p {
    margin: 2vh 0;
}

.heritage,
form input,
form textarea {
    background: rgb(199, 150, 46);
    background: linear-gradient(90deg, rgba(199, 150, 46, 1) 0%, rgba(245, 245, 220, 1) 55%);
}

.heritage .container-heritage {
    height: 100vh;
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.coniferes {
    background-image: url(../img/api-conifères.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
}

.fleurs {
    background-image: url(../img/api-fleurs.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
}

.quart {
    width: 50vw;
}

.container-heritage h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 6vh;
}

.heritage p {
    padding: 0 4rem;
}

.samples img {
    border-radius: 5%;
}

.samples button {
    margin-bottom: 2vh;
}

.contact button,
.contact .form-check-input {
    margin-top: 2vh;
}

.contact button {
    margin-bottom: 3vh;
    background-color: #C7962E;
    color: white;
    border: white;
}

.form-check-label {
    margin-top: 1vh;
}

footer {
    background-color: #C7962E;
}

footer .socials {
    background-color: beige;
}